*{
	outline:1px solid red;
}

.flechita{
	margin-top: 35px;
} 
.nombre{
	border: 1px solid #CCCCCC;
	position: relative;
	padding:  5px 5px 5px 30px;
	margin-top: 10px;
	border-radius: 5px;
}

.nombres{
	width: 49%;
}

.icono-1{
	position: absolute;
	top: 10px;
	left: 8px;
}

.nombres:focus, .correo:focus{
	outline: -webkit-focus-ring-color auto 0px;
	outline-style: none;
	box-shadow: none;
	border-color: lightgrey;
}

.nombres, .correo{
	border: none;
}

.correo{
	width: 100%;
}

.terminos{
	display: inline-block;
}

.terminos-condiciones{
	position: absolute;
    bottom: 7%;
    padding: 10px 42px;
}

.mayuscula{
	text-transform: uppercase;
}

.borde-rojo{
	border: 1px solid red;
}
.siguiente{
	width: 100%;
	position: absolute;
	left: 0px;
    bottom: 0px;
    background: rebeccapurple;
    color: white;
    font-weight: bold;
    padding: 20px 0;
}
p{
	margin: 0 0 200px!important;
}