/*
}*/

*{	outline: 1px solid red;}

header{
	padding: 10px;
	border-bottom: 1px gainsboro solid;
}

.flechita{
	margin-top: 35px;
} 
.text-center{
	text-align: center;
}

.icono{
	font-size: 2em;
    padding: 27px 0px;
    color: black;
}

.icono:hover{
	text-decoration: none;
	color: black;
}

.text-center h2{
	font-weight: bold;
}

.despegable{
	border: none;
}

#dropdownMenu1{
    position: relative;
}

.bandera-ico{
	width: 2%;
    margin-left: 0;
    }
.flecha-desglosable{
    float: right;
    
}

.dropdown-menu{
	min-width: 30%;
}
margin-left:  
.col-xs-3{
	padding-right: 0px;
}

.codigo, .codigo-r{
	display: inline-block;
    font-weight: bold;
    width: 9%;
    border: none;
}

.codigo-r{
	border-bottom: 1px solid black;
	text-align: center;
    font-size: 1.4em;
}

.mobile{
	border: none;
	width: 65%;

}

.borde{
	width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	display: inline-block;
    padding-bottom: 2px;
}

.margin-top{
	margin-top: 15px;
}

.siguiente{
	width: 100%;
	position: absolute;
	left: 0px;
    bottom: 0px;
    background: rebeccapurple;
    color: white;
    font-weight: bold;
    padding: 20px 0;
}

.form{
	width: 100%;
}

.mobile:focus, .codigo-r:focus {
	outline: -webkit-focus-ring-color auto 0px;
	outline-style: none;
	box-shadow: none;
	border-color: lightgrey;
}

.phone {
    padding: 8px 0px;
    font-size: 16px;
}

.pt-0 {
	padding-top: 0px;
}
.contenedor-codigo{
	text-align: center;
}

.lab{
	display: inline-block;
}

.numero-codigo{
	text-align: center;
}

.resend-code{
    border: 1px solid black;
    background-color: transparent;
    padding: 10px;
    font-size: 1.2em;
    margin: 20px 30%;
}